[Settings]
gtk-font-name="Sans Serif  10"
gtk-theme-name="Breeze"
gtk-icon-theme-name="breeze"
gtk-fallback-icon-theme="hicolor"
gtk-cursor-theme-name="breeze_cursors"
gtk-menu-images=1
gtk-button-images=1
